<ion-view view-title="Home Page">
  <ion-content padding>

<ion-list>

    <ion-item>
        <h4 >IBM Watson - Image processing</h4>
        </ion-item>
        <form ng-submit="getvision_response()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Image URL</span>
          <input type="text" ng-model="homedata.url">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="openbrowser()">Open Browser</button>

          <span class="divider"></span>

          <button class="button button-block button-positive" type="submit">Let's hear what's in image!!!</button>
        </label>
          <h4 >Text to Speech for following text will be audible : </h4> <p>{{string_text}}</p>
          <img ng-src="{{myVar}}" width="200px" height="150px">
          <div id="player">
                <audio contols autoplay ng-src="{{audiofile}}"></audio>
            </div>
      </div>
    </form>
      </ion-list>
    
  </ion-content>
</ion-view>

