<ion-view view-title="Welcome">
  <ion-content padding class="wel">
      <span class="header"> 
    <h1 align=center>Hello, Welcome to Lab7</h1>
    <h2 align=center>Please use register or login option from the side menubar or using buttons appearing below.</h2>
      </span>

       <span class="docenter">

               <div class="button-bar">
  <a class="button button-block button-positive" ng-click="login()"> Login</a><span class="divider"></span>
  <a class="button button-block button-positive" ng-click="register()"> Register</a>
  
</div>

          </span>
  </ion-content>
</ion-view>
